$color1: #fff;
$color1-o: #a5a5a5;
$color2: #0e2d80;
$color3: #0044ff;
$color4: #dfff00;
$color5: #dddddd;
$color5-o: #dddddd86;
$color6: #005a9c;
$color6-h: #00375f;
$color7: #2870aa;
$color8: #0288d1;
$color9: #7d2ae8;
$color10: #005496;
$color11: #99c2ff;
$color12: #d4ff54;
$color13: #ff7775;
