@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "colors";
@import "responsive";

* {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none !important;
	user-select: none;
}
body {
	overflow-x: hidden;
}

::-webkit-scrollbar {
	display: none;
}

.spaceTop {
	padding-top: 50px;
}
.spaceTopAD {
	padding-top: 120px;
}

#HEADER-CL {
	z-index: 99999;
	background: $color2;

	.navResponsive {
		display: none;
	}

	.item {
		a {
			font-size: 15px;
			color: $color1;
			transition: all 0.3s ease;
		}
		a:hover {
			color: $color4;
		}
		.log-reg {
			display: none;
		}
	}

	.line {
		width: 1px;
		height: 80%;
		background: $color1;
		opacity: 0.5;
		margin: 0 10px;
	}
}
#FOOTER-CL {
	background: $color2;
	.footer-links-title {
		margin-bottom: 25px;
		opacity: 0.5;
	}
	a {
		color: $color1;
		margin-bottom: 5px;
	}
}

#HEADER-AD {
	z-index: 99999;
	background: $color10;
}

#FOOTER-AD {
	background: $color10;
}
