<div
	class="header2 d-flex justify-content-between align-items-center py-2 px-5 mb-1"
>
	<nav class="navL">
		<a href="/" class="linked me-2">
			<i class="fa-sharp fa-solid fa-house"></i>
			Trang chủ
		</a>
		<a href="#" class="linked">Gửi phản hồi</a>
	</nav>
	<nav class="navR">
		<a href="/auth/login" class="linked me-2">
			<i class="fa-solid fa-clipboard-user me-1"></i>
			Đăng nhập
		</a>
		<a href="/auth/register" class="linked">
			<i class="fa-solid fa-user-check fa-sm me-1"></i>
			Đăng kí tài khoản
		</a>
	</nav>
</div>

<marquee
	onmouseover="this.stop();"
	onmouseout="this.start();"
	scrollamount="15"
>✨từ 18/7 đến 17h00 ngày 30/7/2024, thí sinh đăng ký nguyện vọng xét tuyển trên
	hệ thống hỗ trợ tuyển sinh của bộ gdđt tại địa chỉ:
	<a
		href="https://thisinh.thitotnghiepthpt.edu.vn"
	>https://thisinh.thitotnghiepthpt.edu.vn</a>✨
</marquee>