<div class="header px-5 py-2">
	<div class="d-flex align-items-center justify-content-between">
		<div class="headerL d-flex align-items-center">
			<a href="/" class="logo me-3">
				<img alt="Logo" src="/images/logo.svg" />
			</a>

			<div>
				<h3 style="text-transform: uppercase;">
					Trường Đại học Sư phạm Hà Nội
				</h3>
				<p class="m-0">Hanoi National University of Education</p>
			</div>
		</div>
		<div class="headerR slogan">
			<h5 class="text-primary">“CHUẨN MỰC - SÁNG TẠO - TIÊN PHONG”</h5>
		</div>
	</div>
</div>

<div class="banner mt-3">
	<img src="/images/thumbnail.png" alt="thumbnail" />
</div>

<div class="linked text-center my-5">
	<h3 class="py-3 mb-4">Đăng ký xét tuyển ngay !</h3>
	<div class="enterReg">
		<a href="/enrollment" target="_blank">
			Tại đây
		</a>
	</div>
</div>