<section>
	<div
		class="formAuth d-flex flex-column align-items-center justify-content-center p-4"
	>
		<form
			action=""
			method="POST"
			class="rounded border border-dark-subtle py-5 px-4 w-100"
		>
			<div class="headForm">
				<h4>đăng ký</h4>
				<p class="text-center">*Email của bạn sẽ được dùng là tên đăng
					nhập*</p>
			</div>
			<div class="formInput mb-3">
				<input
					type="email"
					id="email"
					class="border border-dark-subtle"
					placeholder=" "
					autocomplete="off"
					required
				/>
				<label Địa for="email">Email*</label>
			</div>
			<div class="formInput mb-3">
				<input
					type="number"
					id="passport"
					class="border border-dark-subtle"
					placeholder=" "
					autocomplete="off"
					required
				/>
				<label for="passport">CMND/CCCD*</label>
			</div>
			<div class="formInput mb-3">
				<input
					type="text"
					id="fullName"
					class="border border-dark-subtle"
					placeholder=" "
					autocomplete="off"
					required
				/>
				<label for="fullName">Họ và Tên*</label>
			</div>
			<div class="formInput mb-3">
				<input
					type="password"
					id="password"
					class="border border-dark-subtle"
					placeholder=" "
					autocomplete="off"
					required
				/>
				<label for="password">Mật khẩu</label>
			</div>
			<div class="formInput mb-3">
				<input
					type="password"
					id="rePassword"
					class="border border-dark-subtle"
					placeholder=" "
					autocomplete="off"
					required
				/>
				<label for="rePassword">Nhập lại khẩu</label>
			</div>

			<button type="submit" class="btn w-100 p-2 my-2">Đăng ký</button>
			<hr />
			<div class="moreSelects text-center">
				<a href="login">Đã có tài khoản</a>
			</div>
		</form>
		<span class="mt-4 text-body-secondary">
			&copy; All Rights Reserved Developed by
			<a
				href="javascript:void(0);"
				onclick="window.open('https://fb.com/userX.2048', '_blank')"
				rel="noopener noreferrer"
			>KimiZK</a>
		</span>

	</div>
</section>