<div class="title w-100 d-flex justify-content-center pt-3 mt-3">
	<div class="w-75">
		<h3>danh sách thí sinh đăng ký</h3>
		<hr />
	</div>
</div>

<main class="table">
	<section class="tableHeader">
		<div class="container-input">
			<input type="search" placeholder="Tìm với tên ..." name="text" />
			<i class="fa-solid fa-magnifying-glass"></i>
		</div>

		<div class="expGrp">
			<label for="expFile" class="expFile-btn">
				<i class="fa-solid fa-file-export"></i>
				<span>Xuất File</span>
			</label>
			<input type="checkbox" id="expFile" />
			<div class="expFile-options">
				<label>
					Xuất Ra Theo
				</label>
				<label class="file" for="export-file" id="toPDF">
					PDF
					<img src="/images/icon/pdf.png" />
				</label>
				<label class="file" for="export-file" id="toJSON">
					JSON
					<img src="/images/icon/json.png" />
				</label>
				<label class="file" for="export-file" id="toCSV">
					CSV
					<img src="/images/icon/csv.png" />
				</label>
				<label class="file" for="export-file" id="toEXCEL">
					EXCEL
					<img src="/images/icon/excel.png" />
				</label>
			</div>
		</div>
	</section>
	<section class="tableBody">
		<table>
			<thead>
				<tr>
					<th>
						STT
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
					<th>
						Tên thí sinh
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
					<th>
						Ngày sinh
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
					<th>
						Thời gian nộp
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
					<th>
						Trạng thái
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
					<th>
						Hành động
						<i class="fa-sharp fa-solid fa-sort"></i>
					</th>
				</tr>
			</thead>
			<tbody>
				{{#each users}}
					<tr>
						<td> {{this.userID}} </td>
						<td>{{this.fullName}}</td>
						<td> {{this.email}} </td>
						<td>{{formatDate this.createdAt}}</td>
						<td>
							<span class="status pending">Chờ duyệt</span>
						</td>
						<td>
							<a href="#" class="btn btn-warning" id="accept">
								<i class="fa-sharp fa-solid fa-check"></i>
							</a>
							<a href="#" class="btn btn-danger" id="cancel">
								<i class="fa-sharp fa-regular fa-xmark"></i>
							</a>
							<a href="#" class="btn btn-info" id="return">
								<i class="fa-sharp fa-solid fa-rotate"></i>
							</a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</section>
</main>
<script src="/js/script.js"></script>