@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes botBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@media (max-width: 1070px) {
  .header {
    background: #0288d1 !important;
  }
  .header .d-flex {
    flex-direction: column;
  }
  .header .d-flex .headerL div {
    color: #fff;
    margin-top: 10px;
    text-align: center;
  }
  .header .d-flex .headerL div h3 {
    margin-bottom: 0;
  }
  .header .d-flex .slogan h5 {
    text-align: center;
    color: #dfff00 !important;
    margin-top: 10px;
  }
}
@media (max-width: 760px) {
  .splitPart {
    display: grid;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 20px;
    width: 100%;
  }
  .splitPart .fw {
    grid-column: span 2 !important;
  }
}
@media (max-width: 635px) {
  .header2 .navL,
  .header2 .navR {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
  }
}
@media (max-width: 515px) {
  label {
    max-width: calc(100% - 20px);
  }
}
.header {
  background: url("https://hnue.edu.vn/Portals/_default/skins/hnue_skin/img/menu_bg.png") no-repeat center center;
  background-size: 100% auto;
}
.header .logo {
  width: 100px;
  height: 100px;
}
.header .logo img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}
.header h3 {
  font-size: 25px;
  font-weight: 600;
}

.banner {
  width: 100%;
}
.banner img {
  object-fit: cover;
  width: 100%;
}

.linked h3 {
  background: #0e2d80;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-transform: uppercase;
}
.linked a {
  color: #fff;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  padding: 10px 22px;
  background-color: #0e2d80;
  transition: all 0.2s ease;
}
.linked a:hover {
  background-color: #7d2ae8;
  border-radius: 10px;
}
.linked a:before,
.linked a:after {
  position: absolute;
  content: "";
  width: 150%;
  left: 50%;
  height: 100%;
  transform: translateX(-50%);
  background-repeat: no-repeat;
  z-index: -1000;
}
.linked a:hover:before {
  top: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 20%, #7d2ae8 20%, transparent 30%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 50% 120%;
  animation: topBubbles 0.6s ease;
}
.linked a:hover::after {
  bottom: -70%;
  background-image: radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, transparent 10%, #7d2ae8 15%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%), radial-gradient(circle, #7d2ae8 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
  background-position: 50% 0%;
  animation: botBubbles 0.6s ease;
}
.linked .enterReg {
  background: url("https://animatedimages.org/data/media/562/animated-line-image-0379.gif") no-repeat center center;
  background-size: 100% auto;
}

/*# sourceMappingURL=home.css.map */
