<header id="FOOTER-AD">
	<nav class="navbar navbar-expand-lg">
		<div class="copyRight w-100 d-flex justify-content-center">
			<p class="text-light my-3">
				&copy; All Rights Reserved Developed by
				<a
					href="javascript:void(0);"
					onclick="window.open('https://fb.com/userX.2048', '_blank')"
					rel="noopener noreferrer"
				>KimiZK</a>
			</p>
		</div>
	</nav>
</header>