<footer id="FOOTER" class="text-white">
	<div class="contentFooter">
		<div class="row py-5 px-5">
			<div class="col-md-4">
				<h6>TRƯỜNG ĐẠI HỌC SƯ PHẠM HÀ NỘI</h6>
				<p class="mb-4">Hanoi National University of Education</p>
				<div class="contact-group d-flex flex-column">
					<a href="#">
						<i class="fa-sharp fa-solid fa-location-dot me-1"></i>
						136 Xuân Thủy - Cầu Giấy - Hà Nội</a>
					<a href="#">
						<i class="fa-sharp fa-solid fa-phone me-1"></i>
						024-37547823 fax: 024-37547971
					</a>
					<a href="mailto:p.hcdn@hnue.edu.vn">
						<i class="fa-sharp fa-solid fa-envelope me-1"></i>
						p.hcdn@hnue.edu.vn</a>
					<a href="http://www.hnue.edu.vn">
						<i
							class="fa-sharp fa-solid fa-building-columns me-1"
						></i>
						http://www.hnue.edu.vn
					</a>
				</div>
			</div>
			<div class="col-md-8">
				<div class="row">
					<div class="mt-4 col-md-4 col-sm-6">
						<div class="footer-links">
							<div class="footer-links-title">
								GIỚI THIỆU CHUNG
							</div>
							<div class="d-flex flex-column">
								<a href="#">Tại sao nên chọn HNUE?</a>
								<a href="#">Giới thiệu về Trường</a>
								<a href="#">Các Khoa &amp; Trung tâm</a>
								<a href="#">Tìm đường đến HNUE</a>
							</div>
						</div>
					</div>
					<div class="mt-4 col-md-4 col-sm-6">
						<div class="footer-links">
							<div class="footer-links-title">
								HỌC TẬP TẠI HNUE
							</div>
							<div class="d-flex flex-column">
								<a href="#">Đào tạo Đại học</a>
								<a href="#">Đào tạo Sau Đại học</a>
								<a href="#">Đào tạo - Bồi dưỡng</a>
								<a href="#">Học bổng - Học phí</a>
							</div>
						</div>
					</div>
					<div class="mt-4 col-md-4 col-sm-6">
						<div class="footer-links">
							<div class="footer-links-title">
								THỐNG KÊ TRUY CẬP
							</div>
							<div class="d-flex flex-column">
								<div>
									<i class="fa-solid fa-user me-1"></i>
									<span>Đang trực tuyến:</span>
									<b id="userOnline">0</b>
								</div>
								<div>
									<i class="fa-solid fa-users me-1"></i>
									<span>Lượt truy cập:</span>
									<b id="sumReq">0</b>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr class="m-0" />
		<div class="copyright text-center text-white-50 py-3">
			<span>Copyright 2024 by Trường Đại học Sư phạm Hà Nội</span>
		</div>
	</div>
</footer>