<header id="HEADER" class="position-fixed w-100">
	<nav class="navbar navbar-expand-lg">
		<div class="contentNav w-100 d-flex justify-content-between px-5 py-1">
			<div class="navL d-flex align-items-center">
				<div class="item">
					<a href="#">
						<i
							class="fa-sharp fa-solid fa-building-columns me-1"
						></i>
						Khoa
					</a>
				</div>
				<span class="line"></span>

				<div class="item">
					<a href="#">Trung tâm</a>
				</div>
				<span class="line"></span>

				<div class="item">
					<a href="#">Viện</a>
				</div>
				<span class="line"></span>

				<div class="item">
					<a href="#">Trường</a>
				</div>
				<span class="line"></span>

				<div class="item">
					<a href="#">Phân hiệu</a>
				</div>
			</div>

			<div class="navR d-flex align-items-center">
				<div class="item">
					<a href="#">
						<i class="fa-solid fa-chalkboard-user me-1"></i>
						Cán bộ/Giảng viên
					</a>
				</div>
				<span class="line"></span>

				<div class="item">
					<a href="#">Sinh viên</a>
				</div>
				<span class="line"></span>

				<div class="item">
					<a href="#">Học viên</a>
				</div>
				<span class="line"></span>

				<div class="item">
					<a href="#">Cựu sinh viên</a>
				</div>
				<span class="line"></span>

				<div class="item">
					<a href="/auth/login" target="_blank">
						<i class="fa-light fa-right-to-bracket fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</nav>
</header>