<section>
	<div
		class="formAuth d-flex flex-column align-items-center justify-content-center p-4"
	>
		<form
			action=""
			method="POST"
			class="rounded border border-dark-subtle py-5 px-4 w-100"
		>
			<div class="headForm">
				<h4>đăng nhập</h4>
			</div>
			<div class="formInput mb-3">
				<input
					type="email"
					id="email"
					class="border border-dark-subtle"
					placeholder=" "
					autocomplete="off"
					required
				/>
				<label for="email">Địa chỉ email</label>
			</div>
			<div class="formInput mb-3">
				<input
					type="password"
					id="password"
					class="border border-dark-subtle"
					placeholder=" "
					autocomplete="off"
					required
				/>
				<label for="password">Mật khẩu</label>
			</div>

			<button type="submit" class="btn w-100 p-2 my-2">Đăng nhập</button>
			<hr />
			<div class="moreSelects d-flex justify-content-around">
				<a href="register">Tạo tài khoản</a>
				<a href="#">Quên mật khẩu</a>
			</div>
			<hr />
			<div class="text-center">
				<a href="#">Xác thực lại tài khoản!</a>
			</div>
		</form>
		<span class="mt-4 text-body-secondary">
			&copy; All Rights Reserved Developed by
			<a
				href="javascript:void(0);"
				onclick="window.open('https://fb.com/userX.2048', '_blank')"
				rel="noopener noreferrer"
			>KimiZK</a>
		</span>

	</div>
</section>