.title {
  background: rgba(221, 221, 221, 0.5254901961);
  margin-bottom: 35px;
}
.title h3 {
  font-weight: 700;
  letter-spacing: 6px;
  color: #0288d1;
  text-transform: uppercase;
  text-align: center;
}
.title hr {
  margin-top: 0;
  border-radius: 5px;
  border: 1px solid #0e2d80;
}

.tableHeader {
  width: 100%;
  padding: 1% 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tableHeader .container-input {
  position: relative;
}
.tableHeader .container-input input {
  color: #fff;
  background: #0288d1;
  outline: none;
  border: none;
  padding: 8px 10px 8px 40px;
  width: 70%;
  transition: all 0.2s ease;
}
.tableHeader .container-input input::placeholder {
  color: #dddddd;
  opacity: 1; /* Firefox */
}
.tableHeader .container-input input::-ms-input-placeholder {
  /* Edge 12-18 */
  color: #dddddd;
}
.tableHeader .container-input input::-webkit-input-placeholder {
  /* Chrome, Safari, Opera */
  color: #dddddd;
}
.tableHeader .container-input i {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(20%, -50%);
  background: #0288d1;
}
.tableHeader .container-input input:focus {
  width: 100%;
}
.tableHeader .expGrp {
  position: relative;
}
.tableHeader .expGrp input {
  display: none;
}
.tableHeader .expGrp input:checked + .expFile-options {
  opacity: 1;
  z-index: 999;
}
.tableHeader .expGrp .expFile-btn {
  color: #fff;
  background: #0288d1;
  padding: 8px 13px;
  transition: all 0.2s ease;
  cursor: pointer;
}
.tableHeader .expGrp .expFile-btn:hover {
  background-color: #005496;
}
.tableHeader .expGrp .expFile-options {
  z-index: -999;
  position: absolute;
  overflow: hidden;
  right: 0;
  margin-top: 12px;
  width: 12rem;
  opacity: 0;
  transform: scale(0.8);
  transform-origin: top right;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.2s ease;
}
.tableHeader .expGrp .expFile-options label:first-of-type {
  width: 100%;
  text-align: center;
  padding: 10px;
  background: #0288d1;
  font-weight: 500;
  color: #fff;
}
.tableHeader .expGrp .expFile-options img {
  width: 30px;
  height: auto;
}
.tableHeader .expGrp .file {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 35px;
  background: rgba(221, 221, 221, 0.5254901961);
  transition: all 0.2s ease;
  cursor: pointer;
}
.tableHeader .expGrp .file:hover {
  transform: scale(1.02);
  background-color: #2870aa;
}

.tableBody {
  max-height: calc(90% - 80px);
  overflow: auto;
  overflow: overlay;
  margin: 0 4%;
}
.tableBody::-webkit-scrollbar {
  display: block;
  width: 7px;
  height: 7px;
}
.tableBody::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #2870aa;
}
.tableBody:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

main {
  margin-bottom: 50px !important;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border-collapse: collapse;
  padding: 1rem;
  text-align: center;
}

td:nth-child(2),
td:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

td a {
  color: #000 !important;
  border-radius: 0 !important;
}

thead th {
  position: sticky;
  top: 0;
  left: 0;
  cursor: pointer;
  color: #fff;
  background-color: #2870aa;
  text-transform: capitalize;
  transition: all 0.2s ease;
}
thead th:hover {
  color: #99c2ff;
}
thead th i {
  margin-left: 5px;
}

tbody tr:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.5254901961);
}

.status {
  font-size: 15px;
  padding: 5px 7px;
}
.status.accepted {
  background: #d4ff54;
}
.status.cancelled {
  background: #ff7775;
}
.status.pending {
  background: #99c2ff;
}

@media (max-width: 1000px) {
  td:not(:first-of-type) {
    min-width: 250px;
  }
  td:first-of-type {
    min-width: 100px;
  }
}

/*# sourceMappingURL=manage.css.map */
