<section>
	<div class="boxed d-flex">
		<a href="/" class="bannerLogin">
			<img alt="banner" src="/images/banner.jpg" />
		</a>

		<div
			class="formAuth d-flex flex-column align-items-center justify-content-center p-4"
		>
			<a href="/enrollment">
				<div class="logo mb-3">
					<img alt="Logo" src="/images/logo.svg" />
				</div>
			</a>
			<div class="title text-center mb-4">
				<h6>trường đại học sư phạm hà nội</h6>
				<h4>cổng thông tin tuyển sinh</h4>
			</div>
			<form
				action="create/user"
				method="POST"
				class="rounded border border-dark-subtle py-5 px-4 w-100"
			>
				<div class="headForm">
					<h4>đăng ký</h4>
					<p class="mb-1">Cổng thông tin tuyển sinh</p>
					<p>*Email của bạn sẽ được dùng là tên đăng nhập</p>
				</div>
				<div class="formInput mb-3">
					<input
						type="email"
						id="email"
						name="email"
						class="border border-dark-subtle"
						placeholder=" "
						autocomplete="off"
						required
					/>
					<label Địa for="email">Email*</label>
				</div>
				<div class="formInput mb-3">
					<input
						type="number"
						id="passport"
						name="passport"
						class="border border-dark-subtle"
						placeholder=" "
						autocomplete="off"
						required
					/>
					<label for="passport">CMND/CCCD*</label>
				</div>
				<div class="formInput mb-3">
					<input
						type="text"
						id="fullName"
						name="fullName"
						class="border border-dark-subtle"
						placeholder=" "
						autocomplete="off"
						required
					/>
					<label for="fullName">Họ và Tên*</label>
				</div>
				<div class="formInput mb-3">
					<input
						type="password"
						id="password"
						name="password"
						class="border border-dark-subtle"
						placeholder=" "
						autocomplete="off"
						required
					/>
					<label for="password">Mật khẩu</label>
				</div>
				<div class="formInput mb-3">
					<input
						type="password"
						id="rePassword"
						name="rePassword"
						class="border border-dark-subtle"
						placeholder=" "
						autocomplete="off"
						required
					/>
					<label for="rePassword">Nhập lại khẩu</label>
				</div>

				<button type="submit" class="btn w-100 p-2 my-2">Đăng ký</button>
				<hr />
				<div class="moreSelects text-center">
					<a href="login">Đã có tài khoản</a>
				</div>
			</form>
		</div>
	</div>
</section>
<script>
	document.getElementById('email').focus();
</script>