<section>
	<div class="boxed d-flex">
		<a href="/" class="bannerLogin">
			<img src="/images/banner.jpg" alt="banner" />
		</a>

		<div
			class="formAuth d-flex flex-column align-items-center justify-content-center p-4"
		>
			<a href="/enrollment">
				<div class="logo mb-3">
					<img alt="Logo" src="/images/logo.svg" />
				</div>
			</a>
			<div class="title text-center mb-4">
				<h6>trường đại học sư phạm hà nội</h6>
				<h4>cổng thông tin tuyển sinh</h4>
			</div>
			<form
				action=""
				method="POST"
				class="rounded border border-dark-subtle py-5 px-4 w-100"
			>
				<div class="headForm">
					<h4>đăng nhập</h4>
					<p>Cổng thông tin tuyển sinh</p>
				</div>
				<div class="formInput mb-3">
					<input
						type="email"
						id="email"
						class="border border-dark-subtle"
						placeholder=" "
						autocomplete="off"
						required
					/>
					<label Địa for="email">Địa chỉ email</label>
				</div>
				<div class="formInput mb-3">
					<input
						type="password"
						id="password"
						class="border border-dark-subtle"
						placeholder=" "
						autocomplete="off"
						required
					/>
					<label for="password">Mật khẩu</label>
				</div>

				<button type="submit" class="btn w-100 p-2 my-2">Đăng nhập</button>
				<hr />
				<div class="moreSelects d-flex justify-content-around">
					<a href="register">Tạo tài khoản</a>
					<a href="#">Quên mật khẩu</a>
				</div>
				<hr />
				<div class="text-center">
					<a href="#">Xác thực lại tài khoản!</a>
				</div>
			</form>
			<span class="mt-4 text-body-secondary">
				&copy; All Rights Reserved Developed by
				<a
					href="javascript:void(0);"
					onclick="window.open('https://fb.com/userX.2048', '_blank')"
					rel="noopener noreferrer"
				>KimiZK</a>
			</span>

		</div>
	</div>
</section>
<script>
	document.getElementById('email').focus();
</script>