@import "../colors";

.title {
	background: $color5-o;
	margin-bottom: 35px;
	h3 {
		font-weight: 700;
		letter-spacing: 6px;
		color: $color8;
		text-transform: uppercase;
		text-align: center;
	}

	hr {
		margin-top: 0;
		border-radius: 5px;
		border: 1px solid $color2;
	}
}

.tableHeader {
	width: 100%;
	padding: 1% 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.container-input {
		position: relative;
		input {
			color: $color1;
			background: $color8;
			outline: none;
			border: none;
			padding: 8px 10px 8px 40px;
			width: 70%;
			transition: all 0.2s ease;
			&::placeholder {
				color: $color5;
				opacity: 1; /* Firefox */
			}

			&::-ms-input-placeholder {
				/* Edge 12-18 */
				color: $color5;
			}

			&::-webkit-input-placeholder {
				/* Chrome, Safari, Opera */
				color: $color5;
			}
		}

		i {
			color: $color1;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translate(20%, -50%);
			background: $color8;
		}
		input:focus {
			width: 100%;
		}
	}

	.expGrp {
		position: relative;
		input {
			display: none;
		}

		input:checked + .expFile-options {
			opacity: 1;
			z-index: 999;
		}

		.expFile-btn {
			color: $color1;
			background: $color8;
			padding: 8px 13px;
			transition: all 0.2s ease;
			cursor: pointer;
		}

		.expFile-btn:hover {
			background-color: $color10;
		}

		.expFile-options {
			z-index: -999;
			position: absolute;
			overflow: hidden;
			right: 0;
			margin-top: 12px;
			width: 12rem;
			opacity: 0;
			transform: scale(0.8);
			transform-origin: top right;
			box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
			transition: all 0.2s ease;
		}

		.expFile-options label:first-of-type {
			width: 100%;
			text-align: center;
			padding: 10px;
			background: $color8;
			font-weight: 500;
			color: $color1;
		}

		.expFile-options img {
			width: 30px;
			height: auto;
		}

		.file {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			padding: 10px 35px;
			background: $color5-o;
			transition: all 0.2s ease;
			cursor: pointer;
		}

		.file:hover {
			transform: scale(1.02);
			background-color: $color7;
		}
	}
}

.tableBody {
	max-height: calc(90% - 80px);
	overflow: auto;
	overflow: overlay;
	margin: 0 4%;

	&::-webkit-scrollbar {
		display: block;
		width: 7px;
		height: 7px;
	}

	&::-webkit-scrollbar-thumb {
		cursor: pointer;
		background-color: $color7;
	}

	&:hover::-webkit-scrollbar-thumb {
		visibility: visible;
	}
}

main {
	margin-bottom: 50px !important;
}

table {
	border-collapse: collapse;
	width: 100%;
}

th,
td {
	border-collapse: collapse;
	padding: 1rem;
	text-align: center;
}

td:nth-child(2),
td:nth-child(3) {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 200px;
}

td a {
	color: #000 !important;
	border-radius: 0 !important;
}

thead th {
	position: sticky;
	top: 0;
	left: 0;
	cursor: pointer;
	color: $color1;
	background-color: $color7;
	text-transform: capitalize;
	transition: all 0.2s ease;
	&:hover {
		color: $color11;
	}
	i {
		margin-left: 5px;
	}
}

tbody tr:nth-child(even) {
	background-color: $color5-o;
}

.status {
	font-size: 15px;
	padding: 5px 7px;
	&.accepted {
		background: $color12;
	}
	&.cancelled {
		background: $color13;
	}
	&.pending {
		background: $color11;
	}
}

.modal {
	z-index: 99999;
}

@media (max-width: 1000px) {
	td:not(:first-of-type) {
		min-width: 250px;
	}
	td:first-of-type {
		min-width: 100px;
	}
}
